name: Verify project with Maven

on:
  workflow_call:

jobs:
  verify:
    name: verify
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Print Java version
        run: java --version
      - name: Verify with Maven
        run: |
          ./mvnw --batch-mode --update-snapshots verify
