name: Verify project with Maven

on:
  workflow_call:

jobs:
  verify:
    name: verify
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      #      - name: Set up JDK
      #        uses: actions/setup-java@v5
      #        with:
      #          java-version: '25'
      #          distribution: 'temurin'
      #          cache: maven
      #      - name: Print Java version
      #        run: java --version
      - name: Install Temurin via PPA
        run: |
          sudo apt install -y wget apt-transport-https gpg
          wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/adoptium.gpg > /dev/null
          echo "deb https://packages.adoptium.net/artifactory/deb $(awk -F= '/^VERSION_CODENAME/{print$2}' /etc/os-release) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
          sudo apt update
          sudo apt install temurin-25-jdk
      - name: Print Java version
        run: java --version
      - name: Verify with Maven
        run: ./mvnw --batch-mode --update-snapshots verify
